
/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Roboto", sans-serif;
}

/*Genereal*/

img{
    width: 100%;
}

* > ul li{

    list-style: none;

}

a{
    color: grey;
    text-decoration: none;
    font-weight: bold;
}

/*text-decoration*/

.text-white{

    color: white;
}
/*Main*/

.container{

    
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
    background-color: #141922;
    
}

/*Aside*/

.aside-container{
    position: relative;
    width: 15%;
    min-height: 100%;
    background-color:black;
    
}

.logo-spotify{

    width: 60%;
    margin: 20px auto 20px 20px;
}


.top-aside,
.center-aside
{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.top-aside li{
    line-height: 24px;
    padding-bottom: 10px;
}

.center-aside h3{

    padding-bottom: 20px;
}
.center-aside li{

    line-height: 32px;
}



.bottom-aside{

    position: absolute;
    width:100%;
    bottom: 10px;
    left: 20px;
}

.bottom-aside hr{

    color: grey;
    margin: 10px 0;
    
}

/*Content*/

.content-container{

    width: 85%;

}


.top-content{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 85%;
    min-height: 100px;
    background-color: rgba(0, 0 ,0 , 0.7);
    

}

.bottom-content{

    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: #141922;
    
}

/*Footer*/

footer{

    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    min-height: 100px;
    background-color: #282828;

}