
/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Roboto", sans-serif;
}

/*Genereal*/


/*Main*/


/*Aside*/

/*Footer*/

footer{

    width: 100%;
    min-height: 100px;
    background-color: #282828;
}