
/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Roboto", sans-serif;
}

/*Genereal*/

img{
    width: 100%;
    display: block;
}

* > ul li{

    list-style: none;

}

a{
    color: grey;
    text-decoration: none;
    font-weight: bold;
}

/*text-decoration*/

.text-white{

    color: white;
}

.text-grey{

    color: grey;
}

/*Main*/

.container{

    display: flex;
    position: relative;
    width: 100%;
    min-height: calc(100vh - 100px);
    background-color: #141922;
    
}

/*Aside*/

.aside-container{
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 200px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    background-color:black;
    padding-top: 20px;
    
}

.top-aside{

    display: flex;
    flex-direction: column;
    height: 150px;
    padding: 0 20px;
}

.logo-spotify-big{

    width: 60%;
    margin-bottom: 20px;
    
}

.logo-spotify-small{

    display: none;
    width: 32px;
    margin-bottom: 20px;
}

.top-aside li{
    line-height: 24px;
    padding-bottom: 10px;
}

.center-aside{

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px 20px 10px;
    overflow-y: hidden;
}

.center-aside h3{

    min-height: 40px;
    
}

.center-aside h4{

    min-height: 20px;
}
.center-aside ul{

    flex-grow: 1;
    overflow-y:auto;
    padding: 20px 0;
}

.center-aside li{

    line-height: 32px;
    
}

.bottom-aside{

    display: flex;
    flex-direction: column;
    min-height: 70px;
    padding: 0 20px 10px;
    
}

.bottom-aside hr{

    color: grey;
    margin:10px 0;
    width: 70%;

}

/*Content*/

.content-container{

    position: relative;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    height:calc(100vh - 100px);
    padding-top: 80px;
    overflow-x: auto;
    
}

/*top content*/
.top-content{
    
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    min-height: 80px;
    background-color: rgba(0, 0 ,0 , 0.3);
    justify-content: end;
    align-items: center;
}

.bt-upgrade{

    width: fit-content;
    height: fit-content;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 30px;
    margin-right: 30px;
    font-size: 0.7rem;
}

/*bottom content*/

.bottom-content{

    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: #141922;
    padding: 20px;
    
}

.bottom-content nav{

    width: 100%;
    padding-bottom: 20px;
}

.bottom-content nav ul{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bottom-content nav ul li{

    line-height: 1.5rem;
    padding-left: 20px;
    font-size: 0.7rem;
}

.bottom-content nav ul li hr{

    display: none;
    width: 30px;
    margin-left:calc(50% - 15px) ;
    margin-right: calc(50% - 15px);
    color: greenyellow;

}
.container-row h3{

    margin-bottom: 15px;

}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    
}

.row .col{

    width: calc(100% / 6);
    padding-right: 10px;
    
}

.img-card{
    position: relative;
    margin-bottom: 10px;
    object-fit: cover;
}

.card-play{

    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0 ,0 , 0.5);
}
.img-card i{

    
    position: absolute;
    top:50%;
    left: 50%;
    color: white;
    font-size: 50px;
    margin-top: -25px;
    margin-left: -25px;
}

.circle {

    border-radius: 50%;
}

.row h4,
.row h5{

    text-align: center;

}

.row h4{

    margin-bottom: 5px;
}



/*Footer*/

footer{

    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    height: 100px;
    background-color: #282828;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
}

.footer-left{

    
    display: flex;
    align-items: center;
    
}

.footer-left .img-my-song{

    width: 50px;
    height: 50px;

}

.footer-left .left,
.footer-left .center,
.footer-left .right{

    height: 50px;
    align-content: center;
}

.footer-left .center{

    padding-left: 10px;
    
}

.footer-left .right ul
{

    display: flex;
    padding-left: 20px;
}

.footer-left .right ul li,
.footer-right .left ul li{

    padding-left: 10px;
}

.footer-center{

    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 50px;
}

.footer-center .top ul{

    width: 100%;
    display: flex;
    justify-content: center;
    
}
.footer-center .top ul li{

    padding-left: 20px;
}

.footer-center .top ul li:first-child{

    padding-left: 0;
}


.footer-center .bottom{

    display: flex;
    align-items: center;
    padding-top: 20px;
}

.footer-center .bottom .line-container{
    
    display: flex;
    width: 100%;
    height: 4px;
    
}

.line-container .line-white{
    display:inline-block;
    width: 20%;
    height: 4px;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.line-container .circle-yellow,
.right.line-container .circle-yellow{

    display:none;
    border-radius: 50%;
    background-color: greenyellow;
    

}

.line-container .circle-yellow{

    width: 15px;
    height: 15px;
    align-self: center;
}

.right.line-container .circle-yellow{

    width: 10px;
    height: 10px;
}

.line-container .line-grey{
    display: inline-block;
    width: 80%;
    height: 4px;
    background-color: grey;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


.footer-center .bottom span{

    padding: 0 10px;
}

.footer-right{

    display: flex;
    align-items: center;
    
    
}
.footer-right .left ul
{

    display: flex;
    
    
}

.right.line-container{

    display: flex;
    align-items: center;
    width: 100px;
    padding-left: 20px;
}



/*Hover*/

a:hover{

    color: white;
}

.bt-upgrade:hover{

    transform: scale(1.2);
}

.bottom-content nav ul li:hover hr{

    display: block;
    

}
.top-aside ul li:hover{

    border-left: 2px solid greenyellow;
}

.img-card:hover .card-play{
    
    display: block;

}

.line-container:hover .circle-yellow
{

    display:block;
    
}

/*Responsive*/

@media screen and (max-width:1100px) {

    .row .col{

        width: calc(100% / 4);

    }

    .row .col:nth-child(1),
    .row .col:nth-child(2){

        margin-bottom: 20px;

    }
}

@media screen and (max-width:700px) {

    .row .col{

        width: calc(100% / 2);

    }

    .row .col:nth-child(3),
    .row .col:nth-child(4){

        margin-bottom: 20px;

    }

    .footer-left .right ul{

        flex-wrap: wrap;
    }
}

@media screen and (max-width:600px) {
    
    .aside-container{

        width: 50px;
        height: calc(100% - 100px);
    }

    .content-container{

        left: 50px;
        width:calc(100% - 50px);
        height: 100%;
        
        
    }

    .logo-spotify-big,
    .top-aside ul li span,
    .center-aside,
    .bottom-aside a span,
    .bottom-aside hr{

        display: none;
    }

    .logo-spotify-small{

        display: block;
        margin: 0 auto 20px;
    }

    .aside-container{

        align-items: center;
    }

    .bottom-aside{

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bottom-aside .user-icon{

        padding-top: 10px;
        font-size: 32px;
    }

    .footer-center{

        margin: 0 10px;
    }
    
    .footer-center .top ul li a i{

        font-size: medium;
    }
    
    .right.line-container{

        display: flex;
        width: 50px;
        padding-left: 10px;
    }
    
}